<header>
    <div class="row no-gutter">
        <div class="col-md-4 col-4">
            <img src="assets/images/left-arrow.png" alt="">
        </div>
        <div class="col-md-4 col-4 text-center">
            <div class="detail-head">
                Details
            </div>
        </div>
        <div class="col-md-4 col-4 text-right">
            <img src="assets/images/open-menu.png" alt="">
        </div>
    </div>
</header>

<div class="content">
    <div class="tags row">
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let item of tags" 
                (removed)="remove(item)">
                {{item.name}}
                <mat-icon matChipRemove (click)="remove(item)" *ngIf="item.remove">cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div class="hastag-title">
        Hashtags:
        <span class="tag-title" *ngFor="let item of hashTags">
            <span (click)='selectMe(item)'>
                {{item}}
            </span>
        </span>
    </div>
    <div class="your-posts">
        Your Posts
    </div>

    <div class="carousel">
        <div class="posts" *ngFor="let item of displayData">
            <img class="img-posts" src={{item.img}} alt="">
            <div class="time-line">
                <span>
                    <img src="assets/images/clock.png" alt="">
                    {{item.date}}
                </span>

                <div class="gallery-info text-right">
                    <div class="bg-yellow">
                        <img *ngIf="item.gallery" src="assets/images/gallery.png" alt="">
                        <img *ngIf="item.video" src="assets/images/play-button.png" alt="">
                    </div>
                </div>
            </div>
            <div class="comments">
                <span>
                    <img src="assets/images/heart.png" alt="">
                    {{item.likes}}
                </span>
                <span>
                    <img src="assets/images/comment.png" alt="">
                    {{item.comments}}
                </span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 col-6 font-500">
            Similar Posts
        </div>
        <div class="col-md-6 col-6 text-right font-500">
            {{displaySimiliarData.length}} Posts
        </div>
    </div>

    <div class="row no-gutter">
        <div class="col-6 p-0 col-md-3" *ngFor="let item of displaySimiliarData">
            <div class="user-posts">
                <img class="img-posts" src="{{item.img}}" alt="">
                <div class="time-line">
                    <span>
                        <img src="assets/images/clock.png" alt="">
                        {{item.date}}
                    </span>

                    <div class="gallery-info text-right">
                        <div class="bg-yellow">
                            <img *ngIf="item.gallery" src="assets/images/gallery.png" alt="">
                            <img *ngIf="item.video" src="assets/images/play-button.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="comments">
                    <span>
                        <img src="assets/images/heart.png" alt="">
                        {{item.likes}}
                    </span>
                    <span>
                        <img src="assets/images/comment.png" alt="">
                        {{item.comments}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="row">
        <div class="col-md-3 col-3 text-center">
            <img src="assets/images/home.png" alt="">
            <div class="detail-footer-content">Home</div>
        </div>
        <div class="col-md-3 col-3 text-center">
            <img src="assets/images/user.png" alt="">
            <div class="detail-footer-content">Profile</div>
        </div>
        <div class="col-md-3 col-3 text-center">
            <img src="assets/images/bar-chart.png" alt="">
            <div class="detail-footer-content">Insights</div>
        </div>
        <div class="col-md-3 col-3 text-center">
            <img src="assets/images/alert.png" alt="">
            <div class="detail-footer-content">Notifications</div>
        </div>
    </div>
</footer>